<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Customer</title>
</head>
<body>
<a href="/customers/create">Create new Customer</a>
<h1>Customers</h1>
<table border="1">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Province</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="customer:${customerList}">
        <tr>
            <td th:text="${customer.firstName}"/>
            <td th:text="${customer.lastName}"/>
            <td th:text="${customer.province.name}"/>
            <td><a th:href="@{/customers/edit/__${customer.id}__}">Edit</a></td>
            <td>
                <form th:method="post" th:action="@{/customers/delete}">
                    <input type="hidden" name="id" th:value="${customer.id}">
                    <input value="Delete" type="submit">
                </form>
            </td>
        </tr>
    </th:block>
</table>
</body>
</html>